@mixin solid (){
    border: 1px solid;
    border-color: gray;
}
body{
    color: white;
    display: grid;
    grid-template:
        "header header header"
        "left   center right "1fr
        "footer footer footer"
        /150px minmax(300px, 1fr) 150px;
    header{grid-area: header;}
    nav{grid-area: left;}
    main{
        grid-area: center;
        .concept{
            background-image: url("../img/photo-1542181961-9590d0c79dab.jpeg");
            background-size: cover;
            padding-top: calc(100%*321/754);
            max-width:100%;
            display: flex;
            align-items: flex-end;
            &__message{
                background-color: rgba(0,0,0,0.6);
                height: 45%;
                width: 45%;
                padding: 20px 0px;
                margin:0px 0px 24px 24px;
                text-align: center;
                h2{
                    font-size: 32px;
                }
            }
        }
        .menu{
            @include solid;
            color: black;
            text-align: center;
            h2{
                font-size: 80px;
                @include solid;
            }
            .card{
                display: flex;
                &__list{
                    width: calc(100%/3 - (20px * 2));
                    height: auto;
                    overflow: hidden;
                    border-radius: 8px;
                    box-shadow: 0 4px 15px rgba(0,0,0,.2);
                    margin: 0px;
                    display: inline-block;
                }
                &__imgframe{
                    width: 100%;
                    height: auto;
                    padding-top: 56.25%;
                    background-size: cover;
                    box-sizing: border-box;
                  }
                &__textbox{
                    width: 100%;
                    height: auto;
                    padding: 20px 18px;
                    background: #ffffff;
                    box-sizing: border-box;
                }
                &__textbox > * + *{
                    margin-top: 10px;
                }
                &__titletext{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 125%;
                }
                &__overviewtext{
                    font-size: 12px;
                    line-height: 150%;
                }
            }
        }
    }
    aside{grid-area: right;}
    footer{grid-area: footer;}
}

