@mixin contants ($color:white , $shadow: 0 4px 15px rgba(0,0,0,.2) , $border:8px , $padding:4% 2% , $margin:4% 8%){
    background-color: $color;
    overflow: hidden;
    box-shadow: $shadow;
    border-radius: $border;
    padding: $padding;
    margin: $margin;
}
body{
    color: black;
    background-color: #f5deb3;
    header{
        background-color: rgba(0,0,0,0.6);
        color: white;
        width: 100%;
        display: flex;
        position: absolute;
        h1{
            font-size: 32px;
            margin-right: 40px;
        }
        nav{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            ul{
                display: flex;
                li{margin-right: 36px;}
            }
        }
    }
    main{
        .concept{
            background-image: url("../img/photo-1620360289986-d9e73a6f475b.jpeg");
            background-size: cover;
            max-width:100%;
            height: 100vh;
            color: white;
            display: flex;
            align-items: center;
            &__message{
                background-color: rgba(0,0,0,0.6);
                width: 35%;
                padding: 20px 0px;
                margin:0px 0px 0px 40px;
                font-size: clamp(16px, 1vw, 32px);
                text-align: center;
                h2{
                    font-size: clamp(32px, 1vw, 40px);
                }
            }
        }
        .menu{
            @include contants;
            color: black;
            margin-top: 48px;
            h2{
                font-size: 32px;
                text-align: left;
                padding-bottom: 4%;
            }
            .card{
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                &__list{
                    width: calc(100%/3 - (20px * 2));
                    height: auto;
                    overflow: hidden;
                    border-radius: 8px;
                    box-shadow: 0 4px 15px rgba(0,0,0,.2);
                    display: inline-block;
                    margin-top: 12px;
                }
                &__imgframe{
                    width: 100%;
                    height: auto;
                    padding-top: 56.25%;
                    background-image: url(../img/photo-1553962311-62f2471b159d.jpeg);
                    background-size: cover;
                    box-sizing: border-box;
                  }
                &__textbox{
                    width: 100%;
                    height: auto;
                    padding: 20px 18px;
                    background: #ffffff;
                    box-sizing: border-box;
                }
                &__textbox > * + *{
                    margin-top: 10px;
                }
                &__titletext{
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 125%;
                }
                &__overviewtext{
                    font-size: 12px;
                    line-height: 150%;
                }
            }
        }
        .access{
            @include contants($color:white , $shadow: 0 4px 15px rgba(0,0,0,.2) , $border:8px , $padding:1.25% , $margin:2% 8%);
            height: 360px;
            display: flex;
                &__text{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                letter-spacing: 1px;
                width: 36%;
                h3{
                    display: inline-block;
                    margin-bottom: 8px;
                    font-size: 28px;
                }
            }
            .gmap {
                height: 100%;
                width: 64%;
                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    footer{grid-area: footer;}
}
@media screen and (max-width: 1000px){
    body{
        grid-template: 
        "header" 150px
        "center" 1fr
        "footer" 100px
        ;
        main{
            width: 100%;
            .concept{
                background-image: url("../img/phone.jpeg");
                height: 100vh;
                padding-top: 0px;
                align-items: flex-end;
                &__message{
                    width: 80%;
                    margin: 0px 0px 160px 20px;
                    text-align: center;
                    position: absolute;
                    h2{
                        font-size: clamp(32px, 1vw, 40px);
                    }
                }
            }
            .menu{
                @include contants(transparent , none , 0px , 0px, 0px);
                margin-top: 20px;
                h2{
                    font-size: 20px;
                    padding: 0px;
                    margin-left: 4px;
                    text-align: left;
                    text-shadow: white 1px 1px 3px;
                }
                .card{
                    justify-content: space-between;
                    &__list{
                        width: calc(100%/2 - (1px * 2));
                        border-radius: 0px;
                    }
                    &__textbox{
                        padding: 12px 8px;
                    }
                    &__textbox > * + *{
                        margin-top: 8px;
                    }
                    &__titletext{
                        font-size: 8px;
                        font-weight: bold;
                        line-height: 100%;
                    }
                    &__overviewtext{
                        font-size: 4px;
                        line-height: 85%;
                    }
                }
            }
            .access{
                @include contants(white , none , 0px , 0px, 8px 0px);
                &__text{
                    font-size: 12px;
                    h3{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
